
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/*Login*/
.login-container{
  margin-top: 100px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  border: 1px solid #eee;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.full-width{
  width:100%;
}

/*Navbar*/
a{
  cursor: pointer !important;
}

.avatar {
  height: 6vmin;
  pointer-events: none;
  margin-left: 10px;
  border-radius: 50%;
}

/*Home*/

.question-container {
  margin-top: 50px;
  width: 510px;
  margin-left: 300px;
}

.tabItem{
  width: 250px;
}

#myTabContent{
  padding: 15px;
}

.vl {
  border-left: 2px solid gray;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}


.user-avatar {
  height: 20vmin;
  pointer-events: none;
  margin-left: 10px;
  border-radius: 50%;
  padding: 10px;
}

.question{
  text-align: left;
}

.dashboard-list{
  list-style: none;
}

.card-section{
  padding: 10px;
  margin-top: 10px;
}